<div ng-repeat="(key, variable) in variables">
    <div ng-if="!variable.hide">
        <md-card>
            <md-card-header>
                <md-card-header-text class="layout-row">
                    <div class="flex-80">
                        <span ng-if="variable.slider" style="text-align:left" class="md-title">{{variable.name}} (in {{variable.slider.max}})</span>
                        <span ng-if="!variable.slider" style="text-align:left" class="md-title">{{variable.name}}</span>
                    </div>
                    <div class="layout-align-center-center layout-row flex-20" layout-align="center center">
                        <input class="flex" ng-change="find(key,variable,constants.raw)" ng-if="variable.input" type="number" ng-model="variable.value" />
                        <span class="flex" ng-if="!variable.input">{{variable.value}}</span>
                    </div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <pre ng-if="variable.description">{{variable.description}}</pre>
                <md-input-container ng-if="variable.selector" style="width: 100%">
                    <label>{{variable.selector.prompt}}</label>
                    <md-select ng-change="find(key,variable)" ng-model="variable.selector.value" placeholder="{{variable.selector.prompt}}">
                        <md-option ng-value="opt.value" ng-repeat="opt in variable.selector.options">{{ opt.text }}</md-option>
                    </md-select>
                </md-input-container>
                <md-slider ng-if="variable.slider" ng-model="variable.value" min="{{variable.slider.min}}" ng-change="find(key,variable)" max="{{variable.slider.max}}" aria-label="variable.name" step="{{variable.slider.step}}"></md-slider>
                <md-checkbox ng-change="find(key,variable)" ng-if="variable.checkbox" ng-model="variable.checkbox.value" aria-label="variable.checkbox.prompt">
                    {{variable.checkbox.prompt}}
                </md-checkbox>
            </md-card-content>
        </md-card>
    </div>
</div>
