<div ng-repeat="(key, variable) in variables">
    <div class="layout-row" ng-if="!variable.hide">
        <div class="layout-align-center-center layout-row flex-30" layout-align="center center">
            <span class="md-body-1">{{variable.name}}</span>
        </div>
        <md-slider class="flex" ng-if="variable.slider" ng-model="variable.value" min="{{variable.slider.min}}" ng-change="find(key,variable)" max="{{variable.slider.max}}" aria-label="variable.name" step="{{variable.slider.step}}"></md-slider>
        <div class="layout-row flex-10" ng-if="variable.selector">
            <md-input-container>
                <md-select ng-change=find(key,variable) ng-model="variable.selector.value" placeholder="variable.selector.prompt">
                    <md-option ng-value="opt.value" ng-repeat="opt in variable.selector.options">{{ opt.text }}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div class="layout-align-center-center layout-row flex-20" layout-align="center center">
            <input class="flex" ng-change="find(key,variable)" ng-if="variable.input" type="number" ng-model="variable.value" />
            <span class="flex" ng-if="!variable.input">{{variable.value}}</span>
        </div>
    </div>
</div>
