<div>
    <label for="usr">{{names.c1}}:</label>
    <input type="text" class="form-control" ng-model="c1">
  </div>
  <div>
    <label for="usr">{{names.c2}}:</label>
    <input type="text" class="form-control" ng-model="c2">
  </div>
  <div>
    <label for="usr">{{names.c3}}:</label>
    <input type="text" class="form-control" ng-model="c3">
  </div>
  <div>
    <label for="usr">{{names.x1}}:</label>
    <input type="text" class="form-control" ng-model="x1">
  </div>
  <div>
    <label for="usr">{{names.x2}}:</label>
    <input type="text" class="form-control" ng-model="x2">
  </div>
  <div>
    <label for="usr">{{names.x3}}:</label>
    <input type="text" class="form-control" ng-model="x3">
  </div>
  <div>
    <label for="usr">{{names.z}}:</label>
    <input type="text" class="form-control" ng-model="z">
  </div>
  <div>
    <button ng-click="find()">
      Find
    </button>
  </div>

</div>
